@use "./variables.scss" as *;

// put your custom CSS here!

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Callouts
.callout[data-callout="block-combine"] {
  --callout-color: var(--text-normal);
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0px !important;
  border-radius: 6px;
  padding: 0px 0px 0px 0px !important;
}
.callout[data-callout="block-combine"] .callout-icon {
  display: none !important;
}
.callout[data-callout="block-combine"] .callout-title {
  display: none !important;
}

/* Callout for definitions */
.theme-light .callout[data-callout="definition"] {
  --callout-color: 138, 10, 10;
  --callout-icon: lucide-bookmark;
}

.theme-dark .callout[data-callout="definition"] {
  --callout-color: 255, 168, 168;
  --callout-icon: lucide-bookmark;
}

/* Callout for theorems */
.callout[data-callout="theorem"] {
  --callout-color: 255, 149, 0;
  --callout-icon: lucide-book;
}

/* Callout for algorithms */
.theme-light .callout[data-callout="algorithm"] {
  --callout-color: 0, 82, 5;
  --callout-icon: lucide-brain-circuit;
}

.theme-dark .callout[data-callout="algorithm"] {
  --callout-color: 168, 255, 181;
  --callout-icon: lucide-brain-circuit;
}

/* Callout for propositions */
.theme-light .callout[data-callout="proposition"] {
  --callout-color: 0, 29, 97;
  --callout-icon: lucide-book-up-2;
}

.theme-dark .callout[data-callout="proposition"] {
  --callout-color: 168, 226, 255;
  --callout-icon: lucide-book-up-2;
}

.callout[data-callout="principle"] {
  --callout-color: 0, 42, 255;
  --callout-icon: lucide-scale;
}

/* Callout for lemmas */
.theme-light .callout[data-callout="lemma"] {
  --callout-color: 39, 0, 97;
  --callout-icon: lucide-book-up;
}

.theme-dark .callout[data-callout="lemma"] {
  --callout-color: 212, 184, 255;
  --callout-icon: lucide-book-up;
}

/* Callout for corollaries */
.callout[data-callout="corollary"] {
  --callout-color: 163, 195, 75;
  --callout-icon: lucide-book-key;
}

.callout[data-callout="remark"] .callout-title {
  background-color: var(--background-primary);
  margin-top: -24px;
  z-index: 200;
  width: fit-content;
  padding: 0 0.5em;
  margin-left: -0.75em;
  letter-spacing: 0.05em;
  font-variant-caps: all-small-caps;
}
.callout[data-callout="remark"] {
  overflow: visible !important;
  --callout-border-width: 1px !important;
  --callout-border-opacity: 0.5 !important;
  --callout-title-size: 0.8em !important;
  --callout-blend-mode: normal !important;
  background-color: transparent !important;
}
.cm-embed-block.cm-callout {
  padding-top: 12px;
}
.callout-content .callout[data-callout="remark"] {
  margin-top: 18px;
}

.callout[data-callout="comment"] .callout-title {
  background-color: var(--background-primary);
  margin-top: -24px;
  z-index: 200;
  width: fit-content;
  padding: 0 0.5em;
  margin-left: -0.75em;
  letter-spacing: 0.05em;
  font-variant-caps: all-small-caps;
}
.callout[data-callout="comment"] {
  overflow: visible !important;
  --callout-border-width: 1px !important;
  --callout-border-opacity: 0.5 !important;
  --callout-title-size: 0.8em !important;
  --callout-blend-mode: normal !important;
  background-color: transparent !important;
}
.callout-content .callout[data-callout="comment"] {
  margin-top: 18px;
}
